body {
  font-family: Arial,"Helvetica Neue",Helvetica,sans-serif; }
  body #login_button {
    color: white;
    font-size: 20px;
    padding: 15px 30px;
    text-decoration: none;
    background-color: #9EA3A9;
    border: 0px;
    border-radius: 10px;
    transition: background 0s ease 0s, all 0.15s ease 0s, all 0s ease 0s; }
    body #login_button:hover {
      background: #6D8CB0 none repeat scroll 0% 0%; }
  body #MainPanel {
    width: 500px;
    margin: 0 auto;
    text-align: center; }

